[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/kubernetes/kubernetes

[Service]
ExecStart=/usr/local/bin/kube-controller-manager \
  --address=0.0.0.0 \
  --cluster-cidr={{ cluster_cidr }} \
  --cluster-name=kubernetes \
  --cluster-signing-cert-file={{ pki_directory }}/ca.crt \
  --cluster-signing-key-file={{ pki_directory }}/ca.key \
  --kubeconfig={{ kubernetes_configs_dir }}/kube-controller-manager.kubeconfig \
  --leader-elect=true \
  --root-ca-file={{ pki_directory }}/ca.crt \
  --service-account-private-key-file={{ pki_directory }}/service-account.key \
  --service-cluster-ip-range={{ service_ip_range }} \
  --use-service-account-credentials=true \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

