[Unit]
Description=etcd
Documentation=https://etcd.io/docs/

[Service]
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --cert-file={{ pki_directory }}/etcd-server.crt \
  --key-file={{ pki_directory }}/etcd-server.key \
  --peer-cert-file={{ pki_directory }}/etcd-server.crt \
  --peer-key-file={{ pki_directory }}/etcd-server.key \
  --trusted-ca-file={{ pki_directory }}/ca.crt \
  --peer-trusted-ca-file={{ pki_directory }}/ca.crt \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ private_ip_address }}:2380 \
  --listen-peer-urls https://{{ private_ip_address }}:2380 \
  --listen-client-urls https://{{ private_ip_address }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls {{ groups['controlplane'] | map('extract', hostvars, ['private_ip_address']) | map('regex_replace', '^(.*)$', 'https://\\1:2379') | join(',')  }} \
  --initial-cluster-token {{ initial_etcd_cluster_token }} \
  --initial-cluster {% for h in groups['controlplane'] %}{{ hostvars[h].inventory_hostname + '=https://' + hostvars[h].private_ip_address + ':2380' }}{% if not loop.last %}{{ ',' }}{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --listen-metrics-urls http://{{ private_ip_address }}:{{ etcd_health_check_port }},http://127.0.0.1:{{ etcd_health_check_port }} \
  --data-dir={{ etcd_data_dir }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
